doctype html
html
    head
        title Pomodoro
        script(src="index.js")
        link(rel="stylesheet" href="style.css")
    body
        h1.text_large Large Text
        h1.text_large.text_accent-color Large Purple Text
        h2.text_medium Medium Text
        h3.text_small Small Text
        h3.text_small.text_grey Small Grey Text
        p.text_xsmall Text. Just text.