doctype html
html
    head
        title Pomodoro
        script(src="index.js")
        link(rel="stylesheet" href="style.css")
    body
        .pomodoro__background
            .pomodoro__timer
                include blocks/timer/timer
            .pomodoro__settings