@import "reset.scss";

// COLOR VARIABLES
$color_bgc: black;
$color_accent: rebeccapurple;
$color_white: white;
$color_grey: silver;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Ubuntu&display=swap');

$font-montserrat: 'Montserrat', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

.text {
  &_large {
    font-size: 4rem;
    font-family: $font-montserrat;
  }
  &_medium {
    font-size: 3rem;
    font-family: $font-ubuntu;
  }
  &_small {
    font-size: 2rem;
    font-family: $font-montserrat;
  }
  &_xsmall {
    font-size: 1.5rem;
    font-family: $font-ubuntu;
    font-weight: lighter;
  }

  &_accent-color {
    color: $color_accent;
  }
  &_grey {
    color: $color_grey;
  }
  &_white {
    color: $color_white;
  }
}

// GLOBAL STYLES
html {
  font-size: 10px;
}
body {
  color: $color_white;
}

.pomodoro__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $color_bgc;
}

// IMPORTS
@import "blocks/timer/timer";
